body,
span,
p,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
 /*margin-top: 5px;	*/
  font-family: 'Rajdhani', sans-serif;
}



.nav-tabs, .menu{
	background-color: grey ;/*#b40303*/
}

#print-foot {
  display: none;
  }

@media print {
 .menu, .nav-tabs, .headerPanel{
 	display: none;
 }
 #print-foot {
  display: block;
  position: fixed;
  bottom: 0pt;
  right: 0pt;
  }

  .dataset,.indicatorGroup{
  	page-break-before: always;
  }

  #print-foot:after {
  content: counter(page);
  counter-increment: page;
  }
}

@page:left{
  @bottom-left {
    content: "Page " counter(page) " of " counter(pages);
  }
}

.nav>li>a{
	color: white;
}

.active{
	color: black;	
}


a:visited{
	color:#bbb;
}

a{
	text-decoration: underline;
	color: #696969;
}

.col-md-12{
	padding-left: 0px;
}

.view-frame{
	padding-left: 35px !important;
}

.clear-fix {
  overflow: auto;
}