body,
span,
p,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
 /*margin-top: 5px;	*/
  font-family: 'Rajdhani', sans-serif;
}

.nav-tabs, .dossierMenu{
	background-color: grey ;/*#b40303*/
}

#print-foot {
  display: none;
  }

.btn-link:focus{
 color: white;
 background-color: grey !important;
}

.printButton{
   float:right;
   margin: 3px 70px 0 0px;
   color:white;
}


.printButton:hover, .printButton:focus, .printButton:active{
    color:white;
    background-color: grey;
}

@media print {
 .dossierMenu, .nav-tabs, .headerPanel/*, #tocContainer */{
 	display: none;
 }

  /* works only properly in firefox */
 #print-foot {
  display: block;
  position: fixed;
  bottom: 0pt;
  right: 0pt;
  }

  .service>.dataset,.indicatorGroup{
  	page-break-before: always;
  }

  /* works only properly in firefox */
  @-moz-document url-prefix() {
    #print-foot:after {
    content: counter(page);
    counter-increment: page;
    }
  }

  /* for page numbers in table of content not working anywhere yet css standard still has to be implemented 
  a.pageref::after { 
  content: target-counter(attr(href url), page);
  }*/
    
}

.nav>li>a{
	color: white;
}

.active{
	color: black;	
}


a:visited{
	color:#bbb;
}

a{
	text-decoration: underline;
	color: #696969;
}

.col-md-12{
	padding-left: 0px;
}

.view-frame{
	padding-left: 35px !important;
}

.clear-fix {
  overflow: auto;
}