<!DOCTYPE html>
<html ng-app="HmisReport">
	<head>
		<meta charset="UTF-8">
		<title>{{'Dossiers' | translate}}</title>
		<script src="bower_components/jquery/dist/jquery.min.js"></script>
		<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="bower_components/angular/angular.min.js"></script>
		<script src="bower_components/angular-resource/angular-resource.min.js"></script>
		<script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
		<script src="bower_components/angular-translate/angular-translate.min.js"></script>
		<script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
		<script src="bower_components/tinymce-dist/tinymce.min.js"></script>
		<script src="bower_components/angular-ui-tinymce/src/tinymce.js"></script>

		<script src="js/app.js"></script>
		<script src="js/controller.js"></script>
		<script src="js/services.js"></script>

		<link href='https://fonts.googleapis.com/css?family=Rajdhani:500' rel='stylesheet' type='text/css'>
		<link type="text/css" rel="stylesheet" media="screen" href="css/Dossier.css">
		<link type="text/css" rel="stylesheet" media="screen" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

	</head>
	<body ng-controller="HmisReportCtrl" class="container-fluid">
		<div id="main">
			<ul id="dossierTabs" role="tablist" class="nav nav-tabs col-md-12">
				<li role="presentation"  class="active col-md-2"><a role="tab" data-toggle="tab" aria-controls="dataSetPanel" href="#dataSetPanel">{{'DataSets' | translate}}</a></li>
				<li role="presentation"  class="col-md-2"><a role="tab" data-toggle="tab" aria-controls="indicatorPanel" href="#indicatorPanel">{{'Indicators' | translate}}</a></li>
				<li role="presentation"  class="col-md-2"><a role="tab" data-toggle="tab" aria-controls="servicePanel" href="#servicePanel">{{'Services' | translate}}</a></li>
			</ul>
			<div class="tab-content">
			<div id="dataSetPanel" role="tabpanel" class="tab-pane active" >
				<div id="headerPanel" class="col-md-12">
					<h1>{{'HMIS DataSets' | translate}}</h1>
					<h2><tt>{{selected.name}}</tt> </h2>
					<p>{{'number of datasets' | translate}}: {{dataSets.dataSets.length}}</p>
					<p>{{'number of sections in dataset' | translate}}: {{dataset.sections.length}}</p>
					<select ng-options="set.displayName for set in dataSets.dataSets | orderBy: 'displayName'" name="select" id="drpBoxDataSet" ng-model="selectedSet" 
					 	ng-change="getDataSectionsAndDossierText()">
					</select>
				</div>
				<div id="DossierTextContainer"  class="col-md-12">
					<span ng-bind-html="dossierRow.rows[0][0]"></span>
				</div>
				<div id="sectionscontainer" class="col-md-12">
					<ul>
						<div class="section col-md-12" ng-repeat="s in sections.sections | filter:filterByDataSet | orderBy: 'displayName'">
							<div>
							<h3>{{s.displayName}}</h3>
							<p>{{'number of elements in section' | translate}}: {{s.dataElements.length}}</p>
							<table  ng-init="getElementsInSection(s)" ng-controller="SectionController" class="sectionElementsTable table table-striped">
								<thead>
									<tr >
										<th>{{'NameElement'| translate}}</th>
										<th>{{'FormNameElement'| translate}}</th> 
										<th>{{'DescriptionElement'| translate}}</th>
									</tr>
								</thead>
								<tbody> 
									<tr ng-repeat="dataElement in dataElements.dataElements | orderBy: 'displayName'">
										<td>{{dataElement.displayName}}</td>
										<td>{{dataElement.displayFormName}}</td>
										<td>{{dataElement.displayDescription}}</td>
									</tr>
								</tbody>
							</table>
							</div>
						</div>
					</ul>
				</div>
		</div>
		<div role="tabpanel" class="tab-pane" id="indicatorPanel">
			<div id="headerPanel" class="col-md-12">
				<h1>{{'HMIS Indicator Groups' | translate}}</h1>
				<h2><tt>{{selected.displayName}}</tt> </h2>
				<p>{{'Number of Indicator Groups' | translate}}: {{indicatorGrps.indicatorGroups.length}}</p>
				<p>{{'Number of Indicators in Group' | translate}}: {{indicatorGrp.indicators.length}}</p>
				
				<select ng-options="grp.displayName for grp in indicatorGrps.indicatorGroups | orderBy: 'displayName'" name="select" id="drpBoxIndicatorGrps" ng-model="selectedGrp"
					ng-change="getIndicatorGrp()">
				</select>
				<div id="IndicatorGrpContainer" style="display:none" class="col-md-12">
					
					<h3>{{selectedGrp.displayName}}</h3>
						<table   class="indicatorTable table table-striped">
							<thead>
								<tr >
									<th>{{'Nameindicator' | translate}}</th>
									<th>{{'DescriptionIndicator' | translate}}</th>
									<th>{{'NumeratorIndicator' | translate}}</th>
									<th>{{'DenominatorIndicator' | translate}}</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="indicator in  indicatorGrp.indicators | orderBy: 'displayName'">
									<td>{{indicator.displayName}}</td>
									<td>{{getDescription(indicator)}}</td>
									<td>{{getNuminator(indicator)}}</td>
									<td>{{getDenominator(indicator)}}</td>
								</tr>
							</tbody>
						</table>

				</div>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane" id="servicePanel" ng-controller="ServiceController">
			<div id="headerPanelService" class="col-md-12">
				<h1>{{'Health Services' | translate}}</h1>
				<p>{{'Number of Services' | translate}}: {{services.dataElements.length}}</p>
				<p>{{'Number of DataSets in Service' | translate}}: {{serviceDataSets.dataSets.length}}</p>
				
				<select ng-options="service.displayDescription for service in services.dataElements | orderBy: 'displayName'" name="selectService" id="drpBoxServices" ng-model="selectedService"
					ng-change="getServiceData()">
				</select>
			</div>
		</div>
		</div>
	</div>	
	</body>
</html>