<div role="tabpanel" class="tab-pane" id="indicatorPanel">
			<div id="headerPanel" class="col-md-12">
				<h1>{{'HMIS Indicator Groups' | translate}}</h1>
				<h2><tt>{{selected.displayName}}</tt> </h2>
				<p>{{'Number of Indicator Groups' | translate}}: {{indicatorGrps.indicatorGroups.length}}</p>
				<p>{{'Number of Indicators in Group' | translate}}: {{indicatorGrp.indicators.length}}</p>
				
				<select ng-options="grp.displayName for grp in indicatorGrps.indicatorGroups | orderBy: 'displayName'" name="select" id="drpBoxIndicatorGrps" ng-model="selectedGrp">
				</select>
				<div id="{{selectedGrp.id}}" ng-if="selectedGrp" class="col-md-12">
					<h3 id="{{selectedGrp.id}}">{{'Indicator Group' | translate}}: {{selectedGrp.displayName}}</h3>
					<div id="IndicatorGroup" ng-controller="IndicatorController"  class="col-md-12">
						<p>{{'Number of indicators in group' | translate}}: {{indicatorGroup.indicators.length}}</p>
						<table   class="indicatorTable table table-striped">
							<thead>
								<tr >
									<th>{{'Nameindicator' | translate}}</th>
									<th>{{'DescriptionIndicator' | translate}}</th>
									<th>{{'NumeratorIndicator' | translate}}</th>
									<th>{{'DenominatorIndicator' | translate}}</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="indicator in  indicatorGroup.indicators | orderBy: 'displayName'">
									<td>{{indicator.displayName}}</td>
									<td>{{getDescription(indicator)}}</td>
									<td>{{getNuminator(indicator)}}</td>
									<td>{{getDenominator(indicator)}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
</div>