<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    List of contributors: https://github.com/MSFOCBA
    Please refer to the LICENSE.md and LICENSES-DEP.md for complete licenses.
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->


<div ng-controller="dossiersEditorMainController" class="row">
	<div class="col-md-11" id="dossierDescription">
		<form id="editForm" class="col-md-12" method="post">
			<textarea ui-tinymce="tinymceOptions" ng-model="tinymceModel"></textarea>
		</form>
	</div>
	<div class="col-md-1">
		<button type="button" class="btn btn-default btn-xs active" ui-sref="dossiers.reader" style="width:55px;">
			<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
		</button>
		<br>
		<select class="btn btn-default dropdown-toggle  btn-xs" style="width:55px;" ng-init="selectedLanguage = languages.languages[0]" ng-options="language.language for language in languages.languages | orderBy: 'language'" id="drpBoxLanguage" name="selectedLanguage" ng-model="selectedLanguage">{{selectedLanguage.language}}
		</select>
		<br>
		<button ng-if="autho" id="saveButton" type="button" class="btn btn-default" style="width:55px;" ng-click="saveDescription()">
			<span id="saveIcon" class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
		</button>
	<div>
</div>
